body {background-color: rgb(209, 131, 100);
  background-image: url('backgroundpic.jpg');
}

h1{
  font-size: 35px;
  text-align: center;
  font-style: italic;
  color: rgb(41, 41, 41);
  
  font-family: Arial, Helvetica, sans-serif;
  
  
}

#cbutton{
  color: rgb(36, 36, 36);
  position: absolute;
  top: 40%;
  left: 75%;
  font-size: 24px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: pink;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline:none;
  transition: all ease 0.3s;
  
}
  
#cbutton:active {
  box-shadow: 0 3px 0 #00823F;
  top: 39%;
}
   

#ccolor{
  color: rgb(36, 36, 36);
  position: absolute;
  left: 75%;
  top: 20%;
  font-size: 24px;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline:none;
}

#container1{
  position: absolute;
  left: 22%;
  
    display: inline-grid;
    
    grid-template-columns: repeat(2, 5vw);
    grid-template-rows:repeat(20, 4vh)

    

    
}
#container1 div:nth-child(4n-3) {
  margin-top: 5px ;
}
  #container1 div:nth-child(4n-2) {
    margin-top: 5px ;
  }
#container1 div:nth-child(4n-1) {
  margin-bottom: 5px ;
  
}
#container1 div:nth-child(4n) {
  margin-bottom: 5px ;
}
.grid1{
      border-top:  2px  solid rgb(82, 82, 82);
      border-bottom: 2px solid rgb(82, 82, 82);
      border-left:1px solid rgb(82, 82, 82);
      border-right:1px solid rgb(82, 82, 82);
      border-radius: 12px;
      background-color: rgb(197, 197, 197);
    }

 #container2{
  position: absolute;
  left: 32%;
  
        display: inline-grid;
        
        
        grid-template-columns: repeat(4, 10vw);
        grid-template-rows:repeat(10, 8vh)
        
    }
    .grid2{
      border-top:  2px  solid brown;
      border-bottom: 2px  solid brown;
      border-left:1px  solid brown;
      border-right:1px  solid brown;
      border-radius: 5px;
      background-color: rgb(230, 199, 116);
    }
    